header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(126, 143, 72);
    border: 5px solid rgb(126, 143, 72);
}
body{
    margin-bottom: 79px;
}
.namepages{
    text-decoration: none;
    color: black;
}
.link{
    display: flex;
    justify-content: center;
}
.btnAuth{
    align-items: center;
    margin: 15px;
    border-radius: 10px;
}
.buttonSignup{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: greenyellow;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(67, 71, 152);
    text-decoration: none;
}
.buttonLogin{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(255, 95, 47);
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(67, 71, 152);
    text-decoration: none;
}
.buttonLogOut{
    color: white;
    text-decoration: none;
}
.buttonLogOut:hover{
    box-shadow: inset 0px 0px 10px black;
    border-radius: 4px;
    padding: 2px;
}
footer{
    background-color: rgb(84, 40, 8);
    color: white;
    display: flex;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}
footer p{
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
}
@media (max-width: 450px) {
    .namepages{
        font-size: 25px;
    }
}
@media (max-width: 365px) {
    .btnAuth{
        margin: 15px 5px;
    }
    .namepages{
        font-size: 20px;
    }
}